

.node {
  cursor: pointer;
}

.node:hover {
  stroke: #000;
  stroke-width: 1.5px;
}

.node--1,
.node--2 {
  font: 40px "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
}

.node--leaf {
  font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.small-text {
  font: 9px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.label,
.node--root,
.node--leaf {
  pointer-events: none;
}

#legend-color-boxes div {
  width: 30px;
  height: 30px;
}

#legend-text div {
  height: 30px;
}

.g2, .g1, #legend-text {
  float: left;
  margin: 10px;
}

#legend-color-boxes {
  float: left;
  margin-top: 5px;
}

.g2 input {
  display: block;
  height: 20px;
  margin-top: .5px;
}

.g2 > div > div {
  height: 20px;
}

.titleheading {
  font-weight: bold;
}

#vis-controls {
  border: 2px solid black;
}

.clear {
  clear: both;
}
