/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  z-index: 998;
}
.loading {
  position: fixed;
  z-index: 999;
  overflow: show;
  margin: auto;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 3rem;
  color: black;
}

* {
  margin: 0;
}
html , body{
  font: 16px/1.5 "Open Sans", sans-serif;
  height: 100%;
}

body {
  margin: 2rem 0 5rem;
  color: #333;
}

@media (min-width: 30rem) {
  body {
    margin-top: 5rem;
  }
}
.container{
  max-width: 50rem;
  margin: 0 auto;
}
.wrapper{
  min-height: 100%;
  margin: 0 auto -3rem; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push{
  max-width: 50rem;
  height: 5rem;
  margin: 0 auto;
}
.footer{
  margin-top: 3rem;
  color: #BBBBBB;
}

p {
  margin: 1rem 0;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

@media (min-width: 30rem) {
  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
}

h1 a, .footer a {
  color: inherit;
}
h1 a:hover, h1 a:focus {
  text-decoration: none;
}

h2 {
  margin-top: 2rem;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

@media (min-width: 30rem) {
  h2 {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

h3, h4, h5, h6 {
  font-size: 1rem;
  text-transform: uppercase;
}

ul{
  font-size: 13px;
}

a{
  text-decoration: none;
  color:#0077D9;
}

a:hover, a:focus {
  text-decoration: underline;
}

img{
  width:100%;
  max-width: 200px;
  height: auto;
  display:block;
  margin-left: auto;
  margin-right: auto;

}

#simulation{
  background-color: #DDFFFF;
}

.paragraph-block{
  max-width: 1080px;
  min-width: 450px;
  width: 100%;
  padding: 10px;
  margin: 25px auto 25px auto;
}
.order-label{
    border: none;
    background: none;
}
.chart-select{
  display:inline-block;
  padding: 0px;
  margin: 0px;
}
.batter-input,
.pitcher-input{
  display:inline-block;
  background-color: #DADCE8;
  width: 100%;
}
.speed-input{
  display:inline-block;
  background-color: #CCCEDB;
  border: 1px solid lightblue;
}
.defense-input{
  display:inline;
  background-color: #CCCEDB;
  /*border: 1px solid lightblue;*/
}

.i-n{
  font-weight:bold;
}
.run{
  background-color: #FFFFBF;
  margin: 1rem auto 0 auto;

}
.checkbox{
  margin:0px 10px 0px 2px;
}
#run-simulation{
  margin:10px 0px 10px 0px;
  padding:5px;
  font-size:1.3em;
}
.results-before{
  color: #D6D6D6;
  font: italic small-caps 100 48px/2 sans-serif;
  vertical-align: middle;
  width:96%;
  background-color:#FFFBDB;
  border:2px solid #DBDFFF;
  border-radius:20px;
  text-align:center;
  margin: 1rem auto 0 auto;
}
.results-after{
  margin-top: 10px;
  background-color:#FFFBDB;
}

.results-after:before {
  content: "Simulation Results";
  font-weight: bolder;
}

.score-results{
  margin-top: 10px;
  width: 70%;
  /*margin: 0 auto;*/
}
.score-val{
  width: 50%;
  margin: 0 auto;
  font-size:1.5em;
  font-weight: bolder;
}
.bat-results{
  margin-top: 10px;
}
.pit-results{
  margin-top: 10px;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
} 

td, th , td select{
  /*padding: .1rem .2rem;*/
  text-align: center;
  /*width: 100%;*/
}

.bkgd{
  background-color: #DADCE8; /* color defined in .pitcher-input */
  font-weight: bold;
  border: none;
  text-align: center; /* match the center in the box which is centered in the td with matches th */
}


span.tip {
    border-bottom: 1px dashed #FFADB3;
    text-decoration: none
}
span.tip:hover {
    cursor: help;
    position: relative
}
span.tip .tooltip-text {
    display: none
}
span.tip:hover .tooltip-text {
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    display: block;
    z-index: 100;
    background: #FADEE0;
    left: 0px;
    margin: 10px;
    width: 250px;
    position: absolute;
    top: 10px;
    text-decoration: none;
    font-size:.8em;
}


.togglebutton{
  color: #BDBDBD;
  background-color:#DDFFFF;
  border: 1px solid #ABFFFF;
  float:left;
  padding: 0px 2px;
  cursor: default;
}
.button-on{
  color: #000000;
  background-color:#ABFFFF;
  border: 1px solid #44FFFF;
  font-weight: bolder;
}
