
html {
  font: 16px/1.5 "Open Sans", sans-serif;
}

body {
  margin: 2rem 0 5rem;
  color: #333;
}

@media (min-width: 30rem) {
  body {
    margin-top: 5rem;
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  color: #111111;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

@media (min-width: 30rem) {
  h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
  }
}

h1 a {
  color: inherit;
}
h1 a:hover, h1 a:focus {
  text-decoration: none;
}

h2 {
  margin-top: 2rem;
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

@media (min-width: 30rem) {
  h2 {
    margin-top: 2.5rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

h3, h4, h5, h6 {
  font-size: 1rem;
  text-transform: uppercase;
}

ul{
  font-size: 13px;
}

p{
  font-size: 15px;
}

a{
  text-decoration: none;
  color:#0077D9;
}

a:hover, a:focus {
  text-decoration: underline;
}

img{
  width:100%;
  max-width: 200px;
  height: auto;
  display:block;
  margin-left: auto;
  margin-right: auto;

}

#simulation{
  background-color: #DDFFFF;
}

.paragraph-block{
  max-width: 1080px;
  min-width: 450px;
  width: 100%;
  padding: 10px;
  margin: 25px auto 25px auto;
}
.order-label{
    border: none;
    background: none;
}
.chart-select{
  display:inline-block;
  padding: 0px;
  margin: 0px;
}
.batter-input,
.pitcher-input{
  display:inline-block;
  background-color: #DADCE8;
  /*max-width: 450px;*/
}
.speed-input{
  display:inline-block;
  background-color: #CCCEDB;
  border: 1px solid lightblue;
  /*max-width: 450px;*/
}
.defense-input{
  display:inline;
  background-color: #CCCEDB;
  border: 1px solid lightblue;
}

.i-n{
  font-weight:bold;
}
div + div{
  margin: 3px 0px auto 0;
  
}
.run{
  background-color: #FFFFBF;
}

#run-simulation{
  margin:10px 0 10px 0;
  padding:5px;
  font-size:1.3em;
}
.results-before{
  margin-top: 10px;
  color: #D6D6D6;
  font: italic small-caps 100 48px/2 sans-serif;
  vertical-align: middle;
  width:90%;
  background-color:#FFFBDB;
  height:200px;
  border:2px solid #DBDFFF;
  border-radius:20px;
  text-align:center;
  margin: 10px auto 0 auto;
  /*float:right;*/
  /*padding:10px;*/
}
.results-after{
  margin-top: 10px;
  background-color:#FFFBDB;
}
.score-results{
  margin-top: 10px;
  width: 70%;
  margin: 0 auto;
}
.score-val{
  width: 50%;
  margin: 0 auto;
  font-size:1.5em;
  
}
.bat-results{
  margin-top: 10px;
}
.pit-results{
  margin-top: 10px;
}

table {
  width: 100%;
  border: 1px solid #ccc;
  border-collapse: collapse;
} 

td, th {
  padding: .1rem .2rem;
}

.container {
  max-width: 50rem;
  margin: 0 auto;
  padding: 0 1rem;
}
